* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #45d8ac;
    text-decoration: none;
}

html {
    font-size: 16px;
}

/* img {
    opacity: 0.6;
} */

/* ul.header__links li a {
    color: #4a45d8;
} */

body {
    font-family: 'Edu TAS Beginner', cursive;
    background: linear-gradient(90deg, rgb(188, 186, 235) 0%, rgba(9, 121, 37, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

/* HEADER */
.header {
    background-color: #04744d;
}

.header__logo {
    width: 150px;
}

.header__links {
    display: none;
}


/* MAIN */

.main__title {
    text-align: center;
}

.products {
    width: 90%;
    max-width: 600px;
    border: dotted 2px rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #cac3c3;
}

.product__item {
    width: 270px;
    background-color: #cebd80;
    margin: 10px;
    padding: 5px;
}


.products img {
    opacity: 0.7;
}

.products article h4 {
    text-transform: uppercase;
}

/* FOOTER */
.footer {
/*     background-image: url('https://cdn.icon-icons.com/icons2/2406/PNG/512/printer_icon_145945.png'); */
    height: 100px;
    background-size: contain;
    background-color: #45d8ac;
    opacity: 0.7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(67, 67, 21);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

@media (min-width: 600px){
    .header__links {
        display: block;
    }
}