<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Dolar Info</title>
  </head>
  <body>
    <h1>Dolar API</h1>

    <div class="container">
      <% dolars.forEach(dolar => { %>
      <div class="card">
        <h2>Nombre: <%= dolar.nombre %></h2>
        <p>Compra: <%= dolar.compra %></p>
        <p>Venta: <%= dolar.venta %></p>
        <small>Fecha: <%= dolar.fechaActualizacion %></small>
      </div>
      <% }) %>
    </div>
  </body>
</html>
