<article class="contenedor-producto">
    <img src="/images/<%= product.img %>" alt="" class="imagen-producto">
    <div class="contenedor-descripcion">
        <p class="logo-envio"><i class="fa-solid fa-truck"></i></p>
        <p class="precios">$<%= product.precio %>
        </p>
        <p class="descuentos">
            <%= product.descuento %>% OFF
        </p>
        <h4 class="descripciones">
            <%= product.nombre %>
        </h4>
    </div>
</article>