<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Styles -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap" rel="stylesheet">
  <!-- Title -->
  <title>PrintAll</title>
</head>

<body>
  <header class="header">
    <img class="header__logo" src="/img/printAll.png" alt="logo-printall" />
    <ul class="header__links">
      <li><a href="#">Productos</a></li>
      <li><a href="#">Acerca de mi</a></li>
      <li><a href="#">Ingresar</a></li>
    </ul>
  </header>

  <main class="main">
    <h1 class="main__title">PrintAll</h1>
    <h4>Servicio de impresión 3d</h4>

    <section class="products">
      <article class="product__item">
        <img src="/img/images.jpg" alt="producto1">
        <h4>Impresion de Resina</h4>
        <p>$500</p>
      </article>

      <article class="product__item">
        <img src="/img/images.jpg" alt="producto1">
        <h4>Impresion de Resina</h4>
        <p>$500</p>
      </article>

      <article class="product__item">
        <img src="/img/images.jpg" alt="producto1">
        <h4>Impresion de Resina</h4>
        <p>$500</p>
      </article>
    </section>

  </main>

  <footer class="footer">
    <p>Todos los derechos reservados a PrintAll Tuc</p>
  </footer>
</body>

</html>